.functionkey{
    border: 1px solid green;
    display: block;
    /* justify-content: space-between; */
    width:100%;
    font-size: 28px;
    gap: 50px;
}
.functionkey1{
    border: 1px solid rgb(114, 116, 114);
    width: 70%;
    margin: auto;
    display: block;

}
.functionkey2{
    border: 1px solid rgb(114, 116, 114);
    width: 70%;
    display:block;
}