.App{
  border: 1px solid red;
  height: 100vh;
  display: grid;
  grid-template-columns:50px 400px auto auto;
  grid-template-areas:
            "functionkey sidebar main main " ;
  text-align: center;
}
.sidebar{grid-area:sidebar;}
.main{grid-area:main;}

.sidebar{
  border: 1px solid gray;
  background-color: #eeecec;
}
.main{
  border: 1px solid rgb(66, 88, 150);
  background-color: #b9b5b5;
}

